$--color-primary: #012f53;
$--color-warning: #efa046;
$--color-danger: #ca370d;
$--color-success: #078282ff;
$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "~element-plus/packages/theme-chalk/src/index";
